/** page styling **/

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
/* Primary */
--pink-050: #ff5A5f;

/* neutrals */
--white-grey-50: #f4f5fa;
--blue-grey-050: #202040;
--blue-grey-100: #1a1a38;
--light-grey-050:#f6f6f6;
--light-grey-100: #e6e6e6;
--light-grey-150: #f0f0f0;


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
} 
body {
    font-family: 'Poppins', sans-serif;
    color:#444; 
    overflow-x: hidden;

}

.bold {
    color: #000;
    font-weight: 600;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

.hero {
    height: 300px;
    position: relative;
}
.hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.hero__overlay {
    background-color: rgba(26, 26, 56, 0.6);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    color:#fff;
    padding-top: 130px;
    padding-left: 20px;
}
.address {
    font-size: 15px;
    display: block;
    font-weight: 400;
}

.highlight {
    color:var(--pink-050)
}
.divider {
    display: flex;
    align-items: center;
}
.divider::after {
    content: "";
    width: 30px;
    height: 4px;
    background-color: var(--pink-050);
    margin-left: 20px;

}
.nav-rule:hover::after{
    content: "";
    width: 40px;
    height: 4px;
    background-color: var(--pink-050);
    display: block; 
}
.center-rule::after {
    content: "";
    width: 100px;
    height: 4px;
    background-color: var(--pink-050);
    display:block;
    margin: 15px auto;
}
.top-arrow::before {
    content: "";
    width: 40px;
    height: 4px;
    border-top: 6px double;
    color: var(--pink-050);
    display: block; 
    margin-top: 50px;
}
.underline::after {
    content: "";
    width: 100px;
    height: 4px;
    background-color: var(--pink-050);
    display:block;
    margin-top: 10px;
}




/**mobile nav styles **/

.mobile__nav-content {
    height: 50px;
    display: flex;
    padding: 10px;
}
.mobile__nav-content h2 {
    margin-left: auto;
    margin-right: auto;
}
.mobile__nav-link {
    position: fixed;
    height: 100%;
    width: 300px;
    background: var(--blue-grey-050);
    top: 0;
    left: -300px;
    padding-top: 40px;
    z-index: 100;
}
.mobile__nav button {
    border: none;
}

#close-btn {
    display: none;
}
.mobile__dropdown-menu {
    display: none;
}
.toggle__dropdown {
    display: block;
}
.is-open .mobile__nav-link, .is-open .mobile__nav-content {
  transform: translate(300px);
}
.is-open .mobile__nav {
    overflow: hidden;
    width: 100vw;
}
.is-open #menu-btn {
    display: none;
}
.is-open #close-btn {
    display: inline;
}
.mobile__nav-link li +li {
    border-top: 1px solid var(--light-grey-100);
}
.mobile__nav-link li {
    padding: 10px;
    color: var(--light-grey-050);
    cursor: pointer;
}    
.mobile__nav-link li a {
    color: var(--light-grey-050);
}
.mobile__dropdown-menu a {
    display: block;
    color: #888;
    padding: 10px 0;
}
.main__nav {
    display: none;
}
.mobile__nav button {
    padding: 5px;
    background: transparent;
}

/** Home Page carousel section style **/
.carousel {
    width: 100%;
    height: 550px;
}
.carousel__contents{
    display: flex;
    width: 100%;
    height: 100%;
    
}
.carousel__slide {
    width: inherit;
    height: inherit;
    display: none;
}
.carousel__slide img {
    width: inherit;
    height: 300px;
    object-fit: cover;
    object-position: center center;
    display: block;
}
.carousel__slide-description {
    height: 200px;
    width: inherit;    
}
.carousel__slide-info {
    background-color: #1a1a38;
    color: #fff;
    height: 120px;   
}
.carousel__slide-details {
    background-color:var(--light-grey-100);
    padding: 15px 10px;
    width: 100%;   
    display: flex;
    justify-content: space-between;
        
}
.carousel__btns {
    display: none;
}
.is-active{
    display: block;
}
.carousel__slide-info {
    padding: 10px 20px;
}
.property__content-info {
    padding-left: 5px;
}

.property-price {
    font-size: 25px;
    font-weight: 700;
    padding: 5px 0;
}
.rent-banner {
    background: rgba(0, 115, 255, 0.938);
    font-size: 20px;
    font-weight: 300;
    padding: 3px 8px;
    display: inline-block;
    margin-left: 12px;    
}
.address {
    font-size: 14px;
}
/**home page form area **/

.discover{
    background-color:rgba(26, 26, 56, 0.9);
    color: #fff;
    text-align: center;
    padding: 40px 0;
}
.homepage_search-form {
    background-color: var(--blue-grey-100);
    color: #fff;
}
.homepage_search-filter {
    padding-bottom: 20px;
}
.homepage_search-filter button {
    background-color: transparent;
    color: var(--light-grey-050);
    border: none;
    outline: none;
    padding: 10px;
}
.rent-filter.active, .sale-filter.active {
    background: var(--pink-050);
}

input[type="range"]{
    appearance: none;
    cursor: pointer;
    background: transparent;
    width: 100%;
   }
   input[type="range"]::-webkit-slider-runnable-track {
       background: var(--pink-050);
       height: 0.5rem;
       border-radius: 50px;
   }
   input[type="range"]::-webkit-slider-thumb {
       -webkit-appearance: none;
       height: 20px;
       width: 10px;
       background-color: var(--pink-050);
       margin-top: -5px;
       color: var(--pink-050);
       border-radius: 3px;
   }
   input[type="range"]:focus::-webkit-slider-runnable-track {
       background: #fff;
   }
   .homepage_search-form {
       padding: 0 20px 20px;
   }
   .homepage_search-form input[type='text'], select {
       width: 100%;
       margin: 8px 0;
       padding: 12px 5px;
       border-radius: 5px;
       outline: none;
       border: 1px solid #f0f0f0;
       background: transparent;
       color: var(--light-grey-100);
   }
   select {
    background: var(--blue-grey-100);
   }
   .homepage_search-form input::placeholder {
       color: #ddd;
   }
   .filter-submit-btn {
    display: block;
    background-color: var(--pink-050);
    padding: 10px;
    border: none;
    outline: none;
    color: var(--light-grey-100);
    margin-top: 20px;
    margin-left: auto;
    display: flex;
    align-items: center;
   }
   .explore {
    text-align: center;
    padding-top: 40px;
   }
   .explore h1 {
    padding-bottom: 40px;
}
.explore__property {
    width: 100%;
    padding: 0 10px;
}
.explore__property img {
    height: 300px;
    width: 100%;
    padding-top: 10px;
}
.explore__images {
    position: relative;
}
.img-grid1,.img-grid2 {
position: relative;
}
.explore__image-desc {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: var(--blue-grey-050);
    left: 0;
    bottom:0;
    color: #fff;
    text-align: left;
    padding: 30px 0px 30px 20px;
}

/** faq section style **/
.faq {
    width: 100%;
    padding: 40px 20px; 
}
.faq__accordion-header {
    margin-bottom: 2px;
}

.faq__accordion-title {
   display: flex;
   width: 100%;
   padding: 20px 15px;
   background: var(--light-grey-050);
   color: #222;
   outline: none;
   border: 1px solid #ddd;
   font-size: 14px;
   font-weight: 600;
}
.faq__question {
    padding-left: 30px;
}
.faq__accordion-content {
    padding: 15px 30px;
    display: none;
}
.indicator__minus {
    display: none;
}
.faq__is-open .faq__accordion-content {
  display: block;
}
.faq__is-open .indicator__minus {
    display: block;
    color: #fff;
}
.faq__is-open .indicator__plus {
    display: none;
}
.faq__is-open .faq__accordion-title  {
    background: var(--pink-050);
    color: #fff;
}
/*** about page styling **/

.about {
    line-height: 1.8;
    padding-bottom: 50px;
}

.about__form {
    padding: 30px 20px;
    width: 100%
   }
.form__image {
    position: relative;
    width: 100%; 
    height: 500px;
}
.image__overlay {
    position: absolute;
    left: 0;
    top:0;
    background: rgba(230, 230,230,0.4);
    width: 100%;
    height: 100%;

}
.form__image img {
    height: 100%;
    width: 100%;
   
}
.about__form-content {
    height: 500px;
    margin-bottom: 50px;
}
.about__text {
    padding: 30px 20px;
}
.about__text p {
    padding-top: 20px;
}
.about__description {
    padding-top: 30px;
}
.about__description p {
    padding: 20px 0;
}
.metrics{
    background-color: var(--light-grey-100);
}
.metrics_details {
    margin: 0 auto;
    width: 200px;
    text-align: center;
    padding: 15px 0;
}
.metric-numbers {
    font-size: 50px;
    color: #222;
    font-weight: 600;
}

.about__info {
    padding: 50px 30px 0;
    width: 100%;
}
.about_us_image{
    width:100%;
    height: 500px;
}
.about_us_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}


.about__form form{
    margin: 20px 0;

} 

/** Contact Page Styles **/
.desktop {
    display: none;
}
.contact {
    line-height: 1.8;
}
.contact__location {
    padding: 50px 20px ;
}
.contact__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.branch {
    width: 100%;
    background-color: var(--blue-grey-100);
    
}

.branch__header {
    width: 100%; 
    height: 40px;
    margin: 5px 0;
}
.branch__header button {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: var(--light-grey-050);
    font-size: 16px;
}
.branch__header button:hover {
    background-color: var(--pink-050);
}
.branch__address {
    font-size: 14px;
    padding: 15px;
    display: none;
    background-color: var(--light-grey-050);
}
.branch.is-selected {
    background-color:var(--pink-050) ;
}
.branch.is-selected .branch__address{
    display: block;
}

.contact__details p {
  font-size: 14px;
}
.contact__icon {
    width: 80px; 
    height: 80px;
    background-color: var(--blue-grey-100);
    color: #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact__icon:hover {
    background-color: var(--pink-050);
}
.contact__text {
    padding-left: 15px;
}
.contact__form {
    padding: 0 20px;
}

input.about__contact-form, textarea.about__contact-form {
  width: 100%;
}
input.about__contact-form {
    padding: 10px;
    margin-bottom: 30px;
}
textarea.about__contact-form {
    height: 80px;
    padding:10px;
}
.underline {
    padding-bottom: 30px;
}

.contact__btn {
    background-color: var(--blue-grey-050);
    padding: 15px 30px;
    border: none;
    outline: none;
    color: var(--light-grey-050);
    display: block;
    margin: 30px auto;
    font-size: 16px;
}





/** PROPERTY PAGE STYLES **/
.property__description {
    background-color: var(--white-grey-50);
    padding: 15px; 
    margin-bottom: 20px;
}
.property__img {
    width: 100%;
    height: 300px;
    background-color: #222;
    position: relative;
}
.property__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.property__text {
    padding: 10px 0;
}
.property__name {
    padding: 10px 0;
}
.property__text li  {
  padding: 3px 0;
}
.property__text {
    font-size: 14px;
}
.property__info {
    display: flex;
    justify-content: space-between;
    background: var(--pink-050);
    padding: 8px 10px ;
    color: #fff;
}
.property__info {
    margin-top: 20px;
}
.status-banner {
    color: #fff;
    position: absolute;
    top: 25px;
    right: 0;
    width: 70px;
    background: rgba(0, 115, 255, 0.938);
    padding: 3px;
}
.featured {
    background-color: var(--white-grey-50);
    padding: 15px; 
    margin-bottom: 15px;
}
.featured__properties {
 width: 100%;
 background: var(--blue-grey-100);
 padding: 20px 15px;
}
.featured__img-card {
    width: 100%;
}
.img-card {
    width: 100%;
    height: 300px;
}
.featured__text {
    text-align: justify;
}
.featured__text p {
    font-size: 15px;
    padding-top: 5px;
}
.space {
    padding-left: 20px;
}
.text__color {
    color: #fff;
}
/*** FOOTER STYLES **/

.footer__form{
    background: var(--pink-050);
    height: 200px;
    width: 100%;
    padding: 40px 10px;
    color: #fff;
}
.newsletter__input input {
   width: 80%;
   border: none;
   padding: 20px 0;
   background: transparent;
   outline: none;
   cursor: pointer;
}
.newsletter__input {
    border-bottom: 1px solid #fff;
}
.newsletter__input input::placeholder {
    color: #fff;
    font-size: 12px;
}
.newsletter__input button {
    border: none;
    outline: none;
    color: var(--light-grey-050);
    background: transparent;
}
.footer__info {
    background-color: var(--blue-grey-050);
    color: var(--light-grey-100);
}
.footer__info h2 {
    color: #fff;
    padding-bottom: 15px;
}
.footer__details {
    padding: 40px 10px 30px;
}
.footer__links {
    padding: 0 10px;
}
.footer__link-contact p {
    padding: 8px 0;
   }
.footer__social-icons {
    padding-top: 30px;
    display: flex;
}
.footer__social-icons li {
    background-color: rgba(26, 26, 56, 0.9);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer__social-icons li + li {
    margin-left: 8px;
}
.footer__social-icons a {
    
    color: var(--light-grey-100);
}
.footer__cities ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer__cities li {
    margin-bottom: 8px;
} 

/**agents page styling **/

.agents {
    width: 100%;
    line-height: 1.8;
}
.agent__list {
    padding: 60px 20px;
    border-bottom: 1px solid var(--light-grey-150);
}
.agent__img {
   width: 100%; 
   height: 500px;
}
.agent__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;

}
.agent__text {
    text-align: center;
    padding-top: 40px;
}
.agent__text p {
    padding-top: 30px;
}
.agent__text h4 {
    color: #ddd;
}
.agent__social-icons {
    margin-top: 30px;
}
.agent__social-icons ul {
 display: flex;
 width: 100px;
 margin: 0 auto;
 justify-content: space-between;
}




@media screen and (min-width: 600px) { 
/** page style **/
.hero__overlay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    } 
.hero h2 {
    font-size: 50px;
} 

/** desktop nav style **/
    header {
        border-bottom: 2px solid #ddd;
    }
    nav {
        width: 100%;
        height: 80px;
    }
    .mobile__nav {
        display: none;
    }
    .main__nav {
        display: flex;
        height: 80px;
        position: fixed;
        top:0; 
        left: 0; 
        width: 100%; 
        z-index: 100;
        background-color: #fff;
        box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1)
    }
    .main__nav-content {
        width: calc(90% - 50px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 20px;
        height: 100%;
        
    }
    .main__nav-link {
        display: flex;
        justify-content: space-between;
        width: 500px;
    }
    .main__nav-link a {
        color: var(--blue-grey-100);
    }
    .main__nav-skewed {
        width: calc(10% + 50px);
        background-color:  var(--pink-050);
        border-left: 20px solid #fff;
        border-bottom: 80px solid transparent;
        padding-right: 40px;
        color: #fff;
    } 
    .main__dropdown {
        position: relative;

    }
    .link {
        background: transparent;
        border: none;
        font-size: 16px;
    }
    .main__dropdown-menu {
        position: absolute;
        top: calc(100% + 1rem);
        width: 200px;
        left: 0;
        z-index: 100;
        background-color: var(--white-grey-50);
        border-radius: 3px;
        opacity: 0;
        transform: translateY(-20px) ;
        transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
    }
    .bubble{
        position: relative;
        padding: 15px;  
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1); 
        border-bottom: 3px solid var(--pink-050);
    }
    .bubble::before {
        content: '';
        display: block;
        position: absolute;
        top:-12px;
        left:85px;

        width: 0;
        height: 0;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        border-bottom: 13px solid var(--white-grey-50);
    }
    
    .main__dropdown-menu a {
        display: block;
    } 
    .main__dropdown-menu a:nth-child(1) {
        padding-bottom: 10px;
    }
    .main__dropdown-menu a + a {
        padding: 10px 0;
        border-top: 1px solid #4f4f4f;
    }
    .main__dropdown.active > .link:focus + .main__dropdown-menu {
        opacity: 1;
        transform: translateY(0);
    }



/** Home Page carousel section style **/
    .carousel {
       height: 600px;
       position: relative;
    }
    .carousel__slide img {
        height: inherit;
    }
    .carousel__slide-description {
        position: absolute;
        top: 50%;
        left: 100px;
        width: 100%;
    }
    
    .rent-banner {
       margin: 0 30px ; 
    }
    .carousel__btns {
        display: block;
        position: absolute;
        top: 42%;
        left:100px;
        height: 35px;
    }
    .carousel__slide-info {
        background-color: rgba(26, 26, 56, 0.9);
        width: fit-content;
    }
    .carousel__slide-details {
        width: fit-content;
        background-color: rgba(230, 230,230,0.9) ;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px ;
    }
    .carousel__btns buttons {
     height: 100%;
    }
    .property__content-info {
        padding-right: 8px;
    }
    .previous-btn {
        background-color: var(--light-grey-100);
        padding: 5px 8px;
        border: 0;   
    }
    .next-btn {
        background-color: var(--pink-050);
        padding: 5px 8px;
        border: 0;
        color: var(--light-grey-050);
    }
    
    .homepage__search {
        display: flex;
    }
    .discover {
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .property__details {
        display: flex;
        justify-content: space-between;
    }
    
    .homepage_search-form {
        flex-basis: 70%;
    }
    .homepage_form-details {
        padding: 70px 0;
    }
    .homepage_search-form input[type='text'], select {
        width:250px;
        margin-inline: 15px;
    }
    input[type='range'] {
        width: 250px;    
    }
    .range-input {
        display: inline-block;
        margin-inline: 15px;
    }
    .price-input {
        width: 120px;
        margin-inline:0;
    }
    .min-price {
      margin-inline-start: 15px;
      margin-inline-end: 3px;

    }
    .range-input label {
        display:block;
    }
    .spacing input[type='text'], select.spacing {
        margin-left: 8px;
    }
    .address{
        font-size: 16px;
    }
    .explore {
        padding: 70px 100px;
    }
    
    .explore__property {
        height: 600px;
        display: flex;
        gap: 20px;
        
    }
    .explore__images {
        flex-basis: 50%;
    }
    .explore__images img {
        width: 100%;
        height: 100%;
        
    }
    .explore__images-grid {
        flex-basis: 50%;
    
    }
    .explore__images-grid img{
      display: block;
      height: 300px;
    }
     

    /** faq section style **/
    .faq {
        padding: 50px;     
    }
    .faq__accordion-title {
        font-size: 16px;
    }


/*** about section **/
   .about__info{
    display: flex;
    height: 800px;
    }
    .about__text { 
       flex-basis: 50%; 
    }
    .about_us_image {
        flex-basis: 50%;
        height: 100%;
    }
    .metrics {
        padding: 70px 50px;
        display: flex;
    }
    .metric-numbers  {
      font-size: 60px;
    }
    .metric-details i {
        color: var(--pink-050);
        font-size: inherit;
    }
    input.about__contact-form {
        width: auto;
    }
    
    .about__form {
       display: flex;
       justify-content: space-between;
       height: 600px;
    }
    .form__image{
        flex-basis: 50%;
    }
    .about__form-content {
        flex-basis: 50%;
        padding-left: 40px;
    }
    
    /** Contact page Style **/
    .contact__location {
        display: flex;
    }
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
    .head__office {
        flex-basis: 50%;
    }
    .branch__list {
        flex-basis: 50%;
    }
    .desktop__branch {
        display: flex;
        height: 300px;
        padding-top: 30px;
    }
    
    .branch__address {
        flex-basis: 70%;
        height: 300px;
    }
    .email__margin {
        margin-inline: 15px;
    }
    .desktop__branch-list {
         display: flex;
         flex-direction: column;
         height: 100%;
         justify-content: space-between;
         margin-left: 30px;
    }
    .branch__btn {
        width: 150px; 
        height: 50px;
        background-color: var(--blue-grey-100);
    }
    .branch__btn button {
        background-color: transparent;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        color: var(--light-grey-050);
        font-size: 16px;
    }
    .desktop__branch-location {
        font-size: 14px;
        padding: 15px;
        background-color: var(--light-grey-050);
        height: 100%;
        display: none;    
    }
    .desktop__branch-location span {
        padding-right: 10px;
    }
    .branch__btn.is-selected {
        background-color: var(--pink-050);
    }
    .desktop__branch-location.is-selected {
        display: block;
    }


   /**PROPERTY PAGE STYLE **/ 

   .property__description {
    display: flex;
    padding: 10px;
   }
   .property__img {
    width: 350px;
    height: 250px;
   }
   .property__text {
    padding-top: 0;
    padding-left: 30px;
    height: 250px;
   }
   .property__info {
    margin-top: 40px;
   }
   .img-card {
    width: 250px;
    height: 200px;
   }
   .featured {
    width: auto;
   } 
   .featured__img-card {
    display: flex;
   }
   .featured__text {
    width: 200px;
    height: 200px;
    padding-left: 15px;
    text-align: justify;
    font-size: 12px;
    line-height: 1.5;
}
.featured__text p {
    padding-top: 2px;
}
.featured__text h3{
    padding: 0;
}
.wrapper {
    padding: 0 100px;
}
    
    
   /***FOOTER STYLES ***/
   .footer__form {
    height: 150px;
    display: flex;
    align-items: center;
    padding: 0 100px;
   } 
   .newsletter {
    flex-basis: 30%;
   }
   .newsletter__form {
    flex-basis: 70%;
   }
   .footer__info {
    height: 400px;
    display: flex;
   }
   .footer__details {
    flex-basis: 30%;
    background-color:var(--blue-grey-050);
    color: var(--light-grey-100);
    padding : 80px 10px 50px 100px;
   }
   
   .footer__links {
    flex-basis: 70%;
    display: flex;
    background-color: var(--blue-grey-100);
    color: var(--light-grey-100);
   }
   .footer__links div{
    flex-basis: 50%;
    padding: 80px 25px 50px;
   }
    
      
      
      
      
      
      
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}      

.address {
  display: inline;
}     
.flex {
    display: flex;
    justify-content: space-between;
}


/**agents page styling **/

.agent__list {
    padding-bottom: 0;
    display: flex;
    border-bottom: 1px solid var(--light-grey-150);
}
.agent__img { 
   height: 400px;
   flex: 1;
}
.agent__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;

}
.agent__text {
    flex: 2;
    text-align: left;
    padding-top: 40px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10px;
}
.agent__text p {
    padding-top: 30px;
}
.agent__social-icons ul {
    margin-left: 30px;
   }



}
      
      
    
    



